<h1>Edit <%= foundAlbum.name %>'s Song</h1>
<h4>Edit Song</h4>
<form action="/albums/<%= foundAlbum.id %>/songs/<%= foundSong.id %>?_method=PUT" method="POST">
    <div class="form-group">
        <label for="songTitle">Song Title</label>
        <input type="text" class="form-control" id="songTitle" name="songTitle" value="<%= foundSong.songTitle %>" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>